:root {
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --accent-color: #ff6c00;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: 'Open Sans', sans-serif;
}

address {
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;

  transition: color 250ms linear;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.pre-title {
  display: flex;
  align-items: center;
  gap: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.pre-title::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.btn {
  min-width: 160px;
  height: 40px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;

  background-color: transparent;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;

  transition: color 250ms linear, background-color 250ms linear;
}

.btn:is(:hover, :focus) {
  background-color: var(--accent-color);
  color: var(--main-btn-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*-------------------HEADER------------------*/

.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

header .container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  margin-right: 130px;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-list-item {
}

.header-nav-link {
  padding-top: 20px;
  padding-bottom: 20px;

  color: #fff;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.header-tel {
  margin-right: 43px;

  text-transform: uppercase;
}

.header-btn {
  color: var(--main-btn-color);
}

.main-page {
}

/*-------------------HERO------------------*/

.hero-section {
}

.hero-container {
  display: flex;
}

.hero-social-wrap {
  display: flex;
  align-items: flex-end;

  position: relative;
  padding-left: 27px;
  padding-bottom: 40px;

  width: 100px;
}

.hero-list {
  display: flex;
  align-items: center;
  gap: 40px;

  position: absolute;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
}

.hero-list::before {
  content: '';

  width: 60px;
  height: 1px;

  background-color: #303030;
}

.hero-list-item {
}

.hero-link {
  color: #303030;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-content {
  flex-grow: 1;
  padding: 272px 100px 208px;

  background-color: #303030;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-pre-title {
  margin-bottom: 20px;

  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  margin-bottom: 20px;

  color: var(--main-title-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.05em;
}

.hero-after-title {
  max-width: 360px;

  color: #9da4bd;
}

/*-------------------ABOUT------------------*/

.about-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-container {
  display: flex;
  gap: 30px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-list-item {
}

.about-wrap {
  max-width: 470px;
}

.about-pre-title {
  margin-bottom: 20px;

  color: var(--second-title-color);
}

.about-title {
  margin-bottom: 20px;

  color: var(--second-title-color);
}

.about-after-title {
  margin-bottom: 20px;

  color: #555555;
}

.about-text {
  margin-bottom: 42px;

  color: #555555;

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

.about-btn {
  color: var(--second-btn-color);
}

/*-------------------PRICES------------------*/

.price-section {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: #111319;
  background-image: url(../images/prices-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.price-pre-title {
  margin-bottom: 20px;

  color: rgba(157, 164, 189, 0.6);
}

.price-title {
  margin-bottom: 44px;

  color: var(--main-title-color);
}

.prices-wrap {
  display: flex;
  gap: 30px;
}

.price-list:nth-child(1) {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.price-list:nth-child(2) {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.price-list {
  margin-bottom: 44px;
  padding: 30px 20px;
  width: calc((100%-30px) / 2);
}

.price-list-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
}

.price-list-item::before {
  content: '';
  height: 1px;
  flex-grow: 1;

  background-color: rgba(157, 164, 189, 0.12);
}

.price-list-item + .price-list-item {
  margin-top: 20px;
}

.price-text {
  color: #9da4bd;

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.price-text:first-child {
  order: -1;
}

.price-btn {
  display: block;
  margin: 0 auto;

  color: var(--main-btn-color);
}

/*-------------------BENEFITS------------------*/

.benefits-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-container {
  display: flex;
  gap: 130px;
  padding-left: 85px;
}

.benefits-list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.benefits-item-list {
  width: 170px;
  height: 133px;
  padding: 20px 24px;

  background-color: #f7f7f7;
}

.benefits-item-list:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item-list:nth-child(even) {
  margin-top: 30px;
}

.benefits-item-list > span::after {
  content: '+';

  color: transparent;
  text-shadow: 0 9px var(--accent-color);

  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  vertical-align: top;
}

.benefits-number {
  display: block;
  margin-bottom: 6px;

  color: #303030;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  text-align: center;
}

.benefits-text {
  color: #303030;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}

.benefits-content-wrap {
  max-width: 500px;
  padding-top: 9px;
}

.benefits-pre-title {
  margin-bottom: 20px;

  color: #303030;
}

.benefits-title {
  margin-bottom: 20px;

  color: var(--second-title-color);
}

.benefits-after-title {
  color: #555555;
}

/*-------------------BARBERS------------------*/

.barbers-section {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: #f7f7f7;
}

.barbers-pre-title {
  margin-bottom: 20px;

  color: var(--second-title-color);
}

.barbers-title {
  margin-bottom: 44px;

  color: var(--second-title-color);
}

.barbers-list {
  display: flex;
  gap: 30px;
}

.barbers-list-item {
  width: calc((100%-60px) / 3);
}

.barbers-card {
  padding-top: 30px;
}

.barbers-name {
  margin-bottom: 8px;

  color: #303030;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  text-align: center;
}

.barbers-position {
  margin-bottom: 30px;

  color: #ff6c00;

  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  text-align: center;
}

.social-links-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-links-list-item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background-color: #fff;
}

.social-links-list-item:is(:hover, :focus) .social-link-icon {
  fill: #ff6c00;
}

/*-------------------GALLERY------------------*/

.gallery-section {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: #fff;
}

.gallery-pre-title {
  margin-bottom: 44px;

  color: #303030;
}

.gallery-list {
  display: flex;
  gap: 30px;
}

.gallery-list-item {
}

/*-------------------CONTACTS------------------*/

.contacts-wrap {
  max-width: 1600px;
  margin: 0 auto;

  background-color: #191c26;
  background-image: url(../images/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(50% - 15px) 100%;
}

.contacts-container {
  display: flex;
}

.online {
  width: calc(50% + 15px);
  padding-top: 130px;
}

.contacts {
  width: calc(50% - 15px);
  padding-top: 130px;
  padding-left: 100px;
  padding-bottom: 120px;
}

.contacts-container h2 {
  margin-bottom: 40px;

  color: var(--main-title-color);
}

.contacts li .link:first-child {
  color: #9da4bd;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/*-------------------FOOTER------------------*/

.footer {
}

.copyright-wrap {
  display: flex;
  justify-content: space-between;

  background-color: #f7f7f7;
}

.footer-list {
  display: flex;
}
