:root {
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --accent-color: #ff6c00;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: 'Open Sans', sans-serif;
}

address {
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.btn {
  min-width: 160px;
  height: 40px;
  border: 1px solid #ff6c00;
  border-radius: 25px;

  background-color: transparent;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
}

/*-------------------HEADER------------------*/

.header {
  padding-top: 32px;
  padding-bottom: 32px;

  background-color: grey;
}

header .container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;

  margin-right: auto;
}

.header-logo {
  margin-right: 130px;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-list-item {
}

.header-nav-link {
  padding-top: 20px;
  padding-bottom: 20px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.header-tel {
  margin-right: 43px;
  padding-top: 20px;
  padding-bottom: 20px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.header-btn {
  color: var(--main-btn-color);
}

.main-page {
}

/*-------------------HERO------------------*/

.hero-section {
}

.hero-container {
  display: flex;
}

.hero-list {
  width: 100px;
}

.hero-list-item {
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-content {
  flex-grow: 1;
  padding: 272px 100px 208px;

  background-color: #303030;
}

.hero-pre-title {
  margin-bottom: 20px;

  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  margin-bottom: 20px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}

.hero-after-title {
  max-width: 360px;

  color: #9da4bd;
}

/*-------------------ABOUT------------------*/

.about-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-container {
  display: flex;
  gap: 30px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-list-item {
}

.about-wrap {
  max-width: 470px;
}

.about-pre-title {
  margin-bottom: 20px;

  color: var(--second-title-color);
}

.about-title {
  margin-bottom: 20px;

  color: var(--second-title-color);
}

.about-after-title {
  margin-bottom: 20px;

  color: #555555;
}

.about-text {
  margin-bottom: 42px;

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}

.about-btn {
  color: var(--second-btn-color);
}

/*-------------------PRICES------------------*/

.price-section {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: #303030;
}

.price-pre-title {
  margin-bottom: 20px;

  color: rgba(157, 164, 189, 0.6);
}

.price-title {
  margin-bottom: 44px;

  color: var(--main-title-color);
}

.prices-wrap {
  display: flex;
}

.price-list {
  margin-bottom: 44px;
  padding: 30px 20px;
  border: 1px solid #fff;
  width: calc((100%-30px) / 2);
}

.price-list-item {
  display: flex;
  justify-content: space-between;
}

.price-list-item + .price-list-item {
  margin-top: 20px;
}

.price-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.price-btn {
  display: block;
  margin: 0 auto;
  color: var(--main-btn-color);
}

/*-------------------BENEFITS------------------*/

.benefits-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-list {
}

.benefits-item-list {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  border: 1px solid black;

  background-color: #f7f7f7;
}

.benefits-number {
  display: block;
  margin-bottom: 6px;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  text-align: center;
  color: #303030;
}

.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-pre-title {
  margin-bottom: 20px;

  color: #303030;
}

.benefits-title {
  margin-bottom: 20px;

  color: var(--second-title-color);
}

.benefits-after-title {
  color: #555555;
}

/*-------------------BARBERS------------------*/

.barbers-section {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: #f7f7f7;
}

.barbers-pre-title {
  margin-bottom: 20px;

  color: var(--second-title-color);
}

.barbers-title {
  margin-bottom: 44px;

  color: var(--second-title-color);
}

.barbers-list {
  display: flex;
  gap: 30px;
}

.barbers-list-item {
  width: calc((100%-60px) / 3);
}

.barbers-card {
  padding-top: 30px;
}

.barbers-name {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  text-align: center;
  color: #303030;
}

.barbers-position {
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ff6c00;
}

.social-links-list {
  display: flex;
  justify-content: center;
  margin: -5px;
}

.social-links-list-item {
  margin: 5px;
}

.social-link {
}

/*-------------------GALLERY------------------*/

.gallery-section {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: #fff;
}

.gallery-pre-title {
  margin-bottom: 44px;

  color: #303030;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.gallery-list {
  display: flex;
  gap: 30px;
}

.gallery-list-item {
}

.footer {
  background-color: #303030;
}

.contacts > h2 {
  margin-bottom: 40px;

  font-family: 'Raleway';
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: #fff;
}

.contacts li .link:first-child {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
